hello: hello
server:
  port: 8888
spring:
  application:
    name: config
  cloud:
    config:
      server:
        git:
          uri:
          username: dreamcc0817@gmail.com
          password: LiuChang0817
